

/* Big tablets and Desktop displays: from 1024 to 1200px */
@media only screen and (max-width: 1200px){
	

}

/* Small tablets and big tablets: from 768px to 1023px */
@media only screen and (max-width: 1023px){
	/*my details section start*/
	.my-details-section .profile-image {
		width: 60%;
    	height: 50%;
	}
	.my-details-section .my-info {
	    width: 300px;
	    /*min-height: 760px;*/
	    background-color: #F86449;
	    border-radius: 15px;
	}
	.my-details-section .xp-sec {
	    width: 440px;
		margin-left: 53px;
	}
	.my-details-section .xp-down-btn-section {
    	width: 615px;
	}
	.my-details-section .btn-down-cv {
        padding: 15px 223px;
		margin-left: 50px;
	}
	.my-details-section .cmn-head-no {
	    font-size: 4rem;
	    font-weight: lighter;
	}
	/*my details section end*/

	/*portfolio contect section start*/
	.portfolio-card .portfolio-card-img {
    	/*add height to image*/
    	height: 180px;
	}
	/*portfolio contect section end*/

	/*feedback section content start*/
	.feedback-section-content p.feed-cmn-p {
	    font-size: 20px;
	    line-height: 125%;
	}
	.feedback-section-content .customer-img-cont span {
    	font-size: 16px;
	}

	/*feedback section content end*/

}

/* Small phones to small tablets: from 481px to 767px */
@media only screen and (max-width: 767px){
	/*my details section start*/
	.my-details-section .profile-image {
        width: 514px;
    	height: 320px;
	}
	.my-info-profile-img-wrapper {
    	height: 1500px;
	}
	.my-details-section .my-info {
    	width: 507px;
    	margin-top: 735px;
	}
	.my-details-section .xp-down-btn-section {
    	bottom: 530px;
    	width: 512px;
	}
	.my-details-section .xp-sec {
    	width: 495px;
    	margin-left: 0;
    	margin-top: -270px;
	}
	.my-details-section .btn-down-cv {
    	padding: 15px 196px;
    	margin-left: 0px;
	}
	/*my details section end*/

	/*portfolio contect section start*/
	#portfolio .col-port-card-3 {
		margin-bottom: 0 !important;
	}
	.portfolio-card {
        margin-bottom: 30px;
    }
    .service-card {
        margin-bottom: 30px;
    }
    .portfolio-card .portfolio-card-img {
    	/*add height to image*/
    	height: 160px;
	}
	/*portfolio contect section end*/

	/*feedback section content start*/
	.feedback-section-content .feed-cmn-content {
    	position: relative;
    	margin-top: 50px;
	}
	/*feedback section content end*/
}

/* Small phones: from 0 to 480px */
@media only screen and (max-width: 480px){
	/*my details section start*/
	.my-info-profile-img-wrapper {
    	height: 1510px;
	}
	.my-details-section .xp-sec {
    	width: 448px;
	    margin-left: 60px;
	    margin-top: -295px;
	}
	.my-details-section .profile-image {
    	width: 453px;
    	height: 320px;
	}
	.my-details-section .my-info {
    	width: 452px;
    	margin-top: 735px;
	}
	.my-details-section .btn-down-cv {
	    padding-top: 15px;
	    padding-bottom: 15px;
	    padding-left: 138px;
	    margin-left: 58px;
	}
	/*my details section end*/

	/*technologies contect section start*/
	.technologies-section-content {
		height: 300px;
		padding-left: 25px;
	}
	.technologies-section-content .owl-tech-carousel .item {
		width: 185px;
	}
	/*technologies contect section end*/

	/*portfolio contect section start*/
	.portfolio-card .portfolio-card-img {
	    /*add height to image*/
	    height: 260px;
	}
	/*portfolio contect section end*/

	/*feedback section content start*/
	.feedback-section-content p.feed-cmn-p {
	    font-size: 18px;
	    line-height: 135%;
	}
	.feedback-section-content .customer-img-cont span {
    	font-size: 14px;
	}
	/*feedback section content end*/
}