

@media only screen and (max-width: 1200px){
	

}

@media only screen and (max-width: 1023px){
	/*my details section start*/
	.my-details-section .profile-image {
		width: 60%;
    	height: 50%;
	}
	.my-details-section .my-info {
	    width: 300px;
	    /*min-height: 760px;*/
	    background-color: #F86449;
	    border-radius: 15px;
	}
	.my-details-section .xp-sec {
	    width: 440px;
		margin-left: 53px;
	}
	.my-details-section .xp-down-btn-section {
    	width: 615px;
	}
	.my-details-section .btn-down-cv {
        padding: 15px 223px;
		margin-left: 50px;
	}
	.my-details-section .cmn-head-no {
	    font-size: 4rem;
	    font-weight: lighter;
	}
	/*my details section end*/

	/*portfolio contect section start*/
	.portfolio-card .portfolio-card-img {
    	/*add height to image*/
    	height: 180px;
	}
	/*portfolio contect section end*/

	/*feedback section content start*/
	.feedback-section-content p.feed-cmn-p {
	    font-size: 20px;
	    line-height: 125%;
	}
	.feedback-section-content .customer-img-cont span {
    	font-size: 16px;
	}

	/*feedback section content end*/

	/*fine food page style and organic page style start*/
	.cmn-inner-pages-carousel-section-content {
		padding-top: 20px;
		height: 350px;
	}
	.cmn-inner-pages-carousel-section-content .owl-cmn-inner-pages-carousel .item {
    	width: 430px;
	}
	/*fine food page style and organic page style end*/

}

@media only screen and (max-width: 768px){
	/*my details section start*/
	.my-details-section .profile-image {
        width: 514px;
    	height: 320px;
    	/*============*/
    	left: 90px;
    	/*change 2*/
    	/*top: -720px;*/
	}
	.my-info-profile-img-wrapper {
    	/*change 3*/
    	/*height: 1500px !important;*/
    	height: 1215px !important;
	}
	.my-details-section .my-info {
    	width: 507px;
    	/*margin-top: 735px;*/
	    margin-top: 718px;
    	margin-left: 90px;
    	height: 490px;
	}
	.my-details-section .xp-down-btn-section {
    	/*bottom: 530px;*/
    	/*bottom: 410px;*/
    	bottom: 260px;
    	width: 512px;
    	/*==============*/
    	left: 90px;
	}
	.my-details-section .xp-sec {
    	width: 495px;
    	margin-left: 0;
    	margin-top: -270px;
	}
	.my-details-section .btn-down-cv {
    	padding: 15px 196px;
    	margin-left: 0px;
	}
	/*my details section end*/

	/*portfolio contect section start*/
	#portfolio .col-port-card-3 {
		margin-bottom: 0 !important;
	}
	.portfolio-card {
        margin-bottom: 30px;
    }
    .service-card {
        margin-bottom: 30px;
    }
    .portfolio-card .portfolio-card-img {
    	/*add height to image*/
    	height: 160px;
	}
	/*portfolio contect section end*/

	/*feedback section content start*/
	.feedback-section-content .feed-cmn-content {
    	position: relative;
    	margin-top: 50px;
	}
	/*feedback section content end*/

	/*fine food page style and organic page style start*/
	.cmn-inner-pages-carousel-section-content {
		height: 485px;
	}
	.cmn-inner-pages-carousel-section-content .owl-cmn-inner-pages-carousel .item {
    	width: 690px;
	}
	/*fine food page style and organic page style end*/



}

@media only screen and (max-width: 375px){
	/*my details section start*/
	.my-info-profile-img-wrapper {
    	/*change 4*/
    	/*height: 1510px;*/
    	height: 1255px !important;
	}
	.my-details-section .xp-sec {
    	/*width: 448px;
	    margin-left: 60px;*/
	    margin-top: -295px;
        width: 320px;
		margin-left: 67px;
	}
	.my-details-section .profile-image {
    	/*change 5*/
    	/*width: 453px;
    	height: 320px;*/
    	/*===========*/
    	/*/left: 4px;*/
    	/*width: 430px;
    	height: 295px;
    	left: 12px;*/
    	width: 330px;
   	 	height: 300px;
    	left: 10px;
	}
	.my-details-section .xp-down-btn-section {
    	/*bottom: 530px;*/
    	bottom: 280px;
    	/*width: 512px;*/
    	width: 395px;

    	/*==============*/
    	left: -55px;
	}
	.my-details-section .my-info {
    	/*width: 452px;*/
    	/*margin-top: 735px;*/
    	/*margin-left: 0;*/
    	/*height: 500px;*/

	    width: 325px;
		margin-top: 735px;
    	margin-left: 5px;
    	height: 500px;

	}
	.my-details-section .btn-down-cv {
	    /*padding-top: 15px;
	    padding-bottom: 15px;
	    padding-left: 20px;
	    padding-right: 20px;
*/
	    padding: 15px 107px;
	    margin-left: 58px;
	    margin-top: 50px;
	}
	.my-details-section .cmn-head-no {
    	font-size: 3rem;
	}
	/*my details section end*/

	/*technologies contect section start*/
	.technologies-section-content {
		/*height: 300px;*/
		height: 430px;
		padding-left: 25px;
	}
	.technologies-section-content .owl-tech-carousel .item {
		/*width: 185px;*/
		margin-left: 35px;
		width: 230px;
	}
	/*technologies contect section end*/

	/*portfolio contect section start*/
	.portfolio-card .portfolio-card-img {
	    /*add height to image*/
	    height: 260px;
	}
	/*portfolio contect section end*/

	/*feedback section content start*/
	.feedback-section-content p.feed-cmn-p {
	    font-size: 18px;
	    line-height: 135%;
	}
	.feedback-section-content .customer-img-cont span {
    	font-size: 14px;
	}
	/*feedback section content end*/

	/*fine food page style and organic page style start*/
	.cmn-inner-pages-carousel-section-content {
		height: 365px;
	}
	.cmn-inner-pages-carousel-section-content .owl-cmn-inner-pages-carousel .item {
    	width: 460px;
	}
	/*fine food page style and organic page style end*/
}