
/*header start*/
.bg-body-black {
    background-color: rgba(51, 51, 51, 1) !important;
}
.navbar-brand {
    color: white;
    font-weight: bold;
}
.navbar-brand:hover {
    color: white;
}
#navbarNav ul li a {
    color: white;
}
#navbarNav ul li a:hover {
    color: #F86449;
}
/*header end*/

/*hello section start*/
.hello-section {
    margin-top: 30px;
}
.hello-section h1 {
    color: #F86449;
    font-size: 5rem;
    font-weight: bold;
    margin-bottom: 0;
}
.hello-section p {
    font-size: 1.7rem;
}
/*hello section end*/

/*my details section start*/
.my-info-profile-img-wrapper {
    /*change 1*/
    border: 1px solid transparent;
    position: relative;
    height: 760px !important;
}
.my-details-section .profile-image {
    width: 650px;
    height: 400px;
    /*border: 1px solid red;*/
    border-radius: 15px;
    background-color: #D4D4D4;
    /*background-image: url("../images/profile-pic.png");*/

    background-image: url("../images/profile-pic-new.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: absolute;
    top: 0;
    right: 0;
}
.my-details-section .my-info {
    width: 380px;
    /*height: 760px;*/
    background-color: #F86449;
    border-radius: 15px;
    padding-bottom: 24px;
}
.my-details-section .cmn-my-info-ul {
    list-style: none;
    color: white;
    padding-top: 30px;
}
.my-details-section .social-icon-ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}
.my-details-section .social-icon-ul li{
    padding-right: 12px;
}
.my-details-section .xp-down-btn-section {
    width: 650px;
    height: 340px;
    /*border: 1px solid red;*/
    position: absolute;
    bottom: 0;
    right: 0;
}
.my-details-section .xp-sec {
    width: 580px;
    height: 250px;
    /*border: 1px solid red;*/
    display: flex;
}
.my-details-section .cmn-xp-sec {
    flex: 1;
    /*border: 1px solid red;*/
}
.my-details-section  .cmn-head-1{
    text-transform: uppercase;
    font-size: 1rem;
    color: #661E1E;
}
.my-details-section .cmn-st-for-ex {
    /*border: 1px solid red;*/
    margin-bottom: 50px;
}
.my-details-section .cmn-head-no {
    color: #F86449;
    font-size: 4rem;
    font-weight: bold;
}
.my-details-section .btn-down-cv {
    background-color: #F86449;
    padding: 15px 265px;
    margin-top: 33px;
    color: white;
}
/*my details section end*/

/*technologies heading section start*/
.technologies-heading-section h1 {
    color: #661E1E;
    
}
.technologies-heading-section p {
    font-size: 1.7rem;
}
/*technologies heading section end*/



/*technologies contect section start*/
.technologies-section-content {
    width: 100%;
    height: 250px;
    /*border: 1px solid red;*/
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.8)), to(rgba(0, 0, 0, 0.8))), url("../images/tech-section-img.webp");
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("../images/tech-section-img.webp");
    background-size: cover;
    /*color: #fff;*/
    background-attachment: fixed;
    width: 100%;
    /*height: auto;*/
    /*padding-bottom: 50px;*/
}
.technologies-section-content .owl-tech-carousel .item {
    width: 150px;
    margin-top: 30px;
}

/*technologies contect section end*/


/*portfolio heading section start*/
.portfolio-heading-section h1 {
    color: #661E1E;
    
}
.portfolio-heading-section p {
    font-size: 1.7rem;
}
/*portfolio heading section end*/


/*portfolio contect section start*/
.portfolio-card {
    display: block;
    position: relative;
    overflow: hidden;
}

.portfolio-card .portfolio-card-img {
    width: 100%;
    /*add height to image*/
    height: 230px;
}

.portfolio-card .portfolio-card-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    visibility: hidden;
    opacity: 0;
    /*background-image: -webkit-linear-gradient(bottom, #e1dfed 0%, rgba(225, 223, 237, 0.7) 99%, rgba(225, 223, 237, 0.8) 100%);*/
    /*background-image: linear-gradient(to top, #e1dfed 0%, rgba(225, 223, 237, 0.7) 99%, rgba(225, 223, 237, 0.8) 100%);*/
    background-image: -webkit-linear-gradient(bottom, #F86449 0%, rgba(248, 100, 73, 0.7) 99%, rgba(248, 100, 73, 0.8) 100%);
    background-image: linear-gradient(to top, #F86449 0%, rgba(248, 100, 73, 0.7) 99%, rgba(248, 100, 73, 0.8) 100%);

    -webkit-transition: all, 0.3s;
    transition: all, 0.3s;
    width: 0;
    height: 0;
    border-radius: 50%;
    overflow: hidden;
}

@media (prefers-reduced-motion: reduce) {
    .portfolio-card .portfolio-card-overlay {
        -webkit-transition: none;
        transition: none;
    }
}

.portfolio-card .portfolio-card-overlay .portfolio-card-caption {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 100%;
}

.portfolio-card:hover .portfolio-card-overlay {
    opacity: 1;
    visibility: visible;
    width: 100%;
    height: 100%;
    border-radius: 0;
}

/*@media (max-width: 767.98px) {
    .portfolio-card {
        margin-bottom: 30px;
    }
    .service-card {
        margin-bottom: 30px;
    }
}*/
.portfolio-card-caption h4 {
    color: #ecf0f1;
}
.portfolio-card-caption p {
    color: white;
}
.page-navi ul li a {
    color: black;
}
.page-navi .first-ch a {
    background-color: #F86449;
    color: white !important;
}
/*portfolio contect section end*/

/*feedback heading section start*/
.feedback-heading-section h1 {
    color: #661E1E;
}
.feedback-heading-section p {
    font-size: 1.7rem;
}
/*feedback heading section end*/

/*feedback section content start*/
.feedback-section-content {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.8)), to(rgba(0, 0, 0, 0.8))), url("../images/feedback1.jpg");
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("../images/feedback1.jpg");
    background-size: cover;
    color: #fff;
    background-attachment: fixed;
    width: 100%;
    height: auto;
    padding-bottom: 50px;
}
.feedback-section-content .feed-cmn-content {
    position: relative;
    margin-top: 85px;
}
.feedback-section-content .feed-cmn-content::before {
    content: "\201C";
    font-size: 500%;
    display: block;
    position: absolute;
    top: -60px;
    left: -5px;
}
.feedback-section-content p.feed-cmn-p {
    font-style: italic;
    font-size: 22px;
    font-weight: lighter;
    line-height: 135%;
}
.feedback-section-content .customer-img-cont {
    /*border: 1px solid red;*/

}
.feedback-section-content .customer-img-cont img{
    width: 50px;
    height: 50px;
    border-radius: 100%;
}
.feedback-section-content .customer-img-cont span{
    font-size: 18px;
    font-style: italic;
}
/*feedback section content end*/

/*contactus heading section start*/
.contactus-heading-section h1 {
    color: #661E1E;
}
.contactus-heading-section p {
    font-size: 1.7rem;
}
/*contactus heading section end*/


/*contactus section content start*/
.contactus-section-content {
        
}
.contactus-section-content input[type="text"],
.contactus-section-content input[type="email"],
.contactus-section-content textarea {
    border-radius: 0;
}
.contactus-section-content textarea {
    height: 130px;
}
.contactus-section-content .btn-send {
    background-color: #F86449;
    color: white;
}
.contactus-section-content .contact-wrapper {
    width: 60%;
}
/*contactus section content end*/

.port-footer {
    color: white;
    padding-top: 40px;
    padding-bottom: 35px;
}

/*fine food page style and organic page style start*/
header .btn-backhome {
    /*#F86449*/
    background-color: #F86449 !important; 
    border: none;
}

/*===================*/
.cmn-inner-pages-heading-section h1 {
    color: #661E1E;
    
}
.cmn-inner-pages-heading-section p {
    font-size: 1.7rem;
}
/*===================*/
.cmn-inner-pages-carousel-section-content {
    width: 100%;
    height: 320px;
    /*border: 1px solid red;*/
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.8)), to(rgba(0, 0, 0, 0.8))), url("../images/tech-section-img.webp");
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("../images/tech-section-img.webp");
    background-size: cover;
    /*color: #fff;*/
    background-attachment: fixed;
    width: 100%;
    /*height: auto;*/
    /*padding-bottom: 50px;*/
    padding-top: 30px;
}
.cmn-inner-pages-carousel-section-content .owl-cmn-inner-pages-carousel .item {
    width: 350px;
    margin-top: 40px;
}
/*======================*/
.cmn-inner-pages-about-project-heading-section h1 {
    color: #661E1E;
    
}
.cmn-inner-pages-about-project-heading-section p {
    font-size: 1.7rem;
}
/*======================*/
.cmn-inner-pages-about-project-content-section h1 {
    color: #661E1E;
    font-size: 1.7rem;
}
.cmn-inner-pages-about-project-content-section .text-bg-color-cmn {
    background-color: #F86449 !important;
    color: white !important;
    padding: 7px 20px;
}
.cmn-inner-pages-about-project-content-section .fa-live-link {
    color: #F86449;
}
.cmn-inner-pages-about-project-content-section .cmn-fine-food-site-links {
    color: #F86449;
}
/*fine food page style and organic page style end*/

/*scroll to up style start*/
.scrollToTop{
    width: 50px;
    height: 50px;
    background-color: #F86449;
    position: fixed;
    right: 20px;
    bottom: 150px;
    display: none;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}
.fa-scrool-to-up {
    color: white !important;
    font-size: 2rem;
}
/*scroll to up style end*/


    
    


