
/*header start*/
.bg-body-black {
    background-color: rgba(51, 51, 51, 0.8) !important;
}
.navbar-brand {
    color: white;
    font-weight: bold;
}
.navbar-brand:hover {
    color: white;
}
#navbarNav ul li a {
    color: white;
}
#navbarNav ul li a:hover {
    color: #F86449;
}
/*header end*/

/*hello section start*/
.hello-section {
    margin-top: 30px;
}
.hello-section h1 {
    color: #F86449;
    font-size: 5rem;
    font-weight: bold;
    margin-bottom: 0;
}
.hello-section p {
    font-size: 1.7rem;
}
/*hello section end*/

/*my details section start*/
.my-info-profile-img-wrapper {
    border: 1px solid red;
    position: relative;
    height: 760px;
}
.my-details-section .profile-image {
    width: 650px;
    height: 400px;
    border: 1px solid red;
    border-radius: 15px;
    background-color: #D4D4D4;
    /*background-image: url("../images/profile-pic.png");*/

    background-image: url("../images/profile-pic-new.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: absolute;
    top: 0;
    right: 0;
}
.my-details-section .my-info {
    width: 380px;
    /*height: 760px;*/
    background-color: #F86449;
    border-radius: 15px;
    padding-bottom: 24px;
}
.my-details-section .cmn-my-info-ul {
    list-style: none;
    color: white;
    padding-top: 30px;
}
.my-details-section .social-icon-ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}
.my-details-section .social-icon-ul li{
    padding-right: 12px;
}
.my-details-section .xp-down-btn-section {
    width: 650px;
    height: 340px;
    border: 1px solid red;
    position: absolute;
    bottom: 0;
    right: 0;
}
.my-details-section .xp-sec {
    width: 580px;
    height: 250px;
    border: 1px solid red;
    display: flex;
}
.my-details-section .cmn-xp-sec {
    flex: 1;
    border: 1px solid red;
}
.my-details-section  .cmn-head-1{
    text-transform: uppercase;
    font-size: 1rem;
    color: #661E1E;
}
.my-details-section .cmn-st-for-ex {
    border: 1px solid red;
    margin-bottom: 50px;
}
.my-details-section .cmn-head-no {
    color: #F86449;
    font-size: 4rem;
    font-weight: bold;
}
.my-details-section .btn-down-cv {
    background-color: #F86449;
    padding: 15px 265px;
    margin-top: 33px;
    color: white;
}
/*my details section end*/

/*portfolio heading section start*/
.portfolio-heading-section h1 {
    color: #661E1E;
    
}
.portfolio-heading-section p {
    font-size: 1.7rem;
}
/*portfolio heading section end*/


/*portfolio contect section start*/
.portfolio-card {
    display: block;
    position: relative;
    overflow: hidden;
}

.portfolio-card .portfolio-card-img {
    width: 100%;
}

.portfolio-card .portfolio-card-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    visibility: hidden;
    opacity: 0;
    /*background-image: -webkit-linear-gradient(bottom, #e1dfed 0%, rgba(225, 223, 237, 0.7) 99%, rgba(225, 223, 237, 0.8) 100%);*/
    /*background-image: linear-gradient(to top, #e1dfed 0%, rgba(225, 223, 237, 0.7) 99%, rgba(225, 223, 237, 0.8) 100%);*/
    background-image: -webkit-linear-gradient(bottom, #F86449 0%, rgba(248, 100, 73, 0.7) 99%, rgba(248, 100, 73, 0.8) 100%);
    background-image: linear-gradient(to top, #F86449 0%, rgba(248, 100, 73, 0.7) 99%, rgba(248, 100, 73, 0.8) 100%);

    -webkit-transition: all, 0.3s;
    transition: all, 0.3s;
    width: 0;
    height: 0;
    border-radius: 50%;
    overflow: hidden;
}

@media (prefers-reduced-motion: reduce) {
    .portfolio-card .portfolio-card-overlay {
        -webkit-transition: none;
        transition: none;
    }
}

.portfolio-card .portfolio-card-overlay .portfolio-card-caption {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 100%;
}

.portfolio-card:hover .portfolio-card-overlay {
    opacity: 1;
    visibility: visible;
    width: 100%;
    height: 100%;
    border-radius: 0;
}

/*@media (max-width: 767.98px) {
    .portfolio-card {
        margin-bottom: 30px;
    }
    .service-card {
        margin-bottom: 30px;
    }
}*/
.portfolio-card-caption h4 {
    color: #ecf0f1;
}
.portfolio-card-caption p {
    color: white;
}
.page-navi ul li a {
    color: black;
}
.page-navi .first-ch a {
    background-color: #34495e;
    color: white !important;
}
/*portfolio contect section end*/
